html {
    padding: none;
  }
  
  body {
    color: #658c5d;
    text-align: center;
    /* padding: 50px; */
    
    font: 14px "Elza", Helvetica, Arial, sans-serif;
  }
  
  footer {
    margin: 10px;
  }
  
  h1 {
    font-family: "Arial" !important;
    font-size: 24px;
    color: rgb(255,0,255);
    text-align: left;
  }
  
  h2 {
    color: #2c3387;
    font-family: "Gelica", 'Times New Roman', Times, serif;
    text-align: left;
  }
  
  h3 {
    color: #658c5d;
    /* font-family: "Gelica", 'Times New Roman', Times, serif; */
    font-family: "variex", 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 36px;
  }
  
  a {
    color: #00B7FF;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff00ff;
  }
  
  #title {
    z-index: 1;
    position: absolute;
    margin-left: 3vw;
  }
  
  #title-text {
    display: absolute;
    bottom: 5vh;
    left: 5vh;
  }
  
  select {
    background-color: white;
    border-radius: 5px;
    color: #658c5d;
    border: 1px solid #658c5d;
    padding: 5px;
    text-align: center;
    font-family: "Elza Light", Helvetica, Arial, sans-serif;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    color: #658c5d;
    border: 1px solid #658c5d;
    width: 5vw;
    padding: 6px;
    margin-left: 100px;
    margin-right: 10px;
  }
  
  .sources {
    text-align: left;
  }
  
  
  .page-link:hover {
    color: yellow;
    cursor: grab;
  }

  .page-link {
    color: #658c5d;
    width: 20px;
  }
  
  .projection-input {
    width: 30vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  #map-projections {
    display: block;
    /* padding-top: 5vh; */
    padding-bottom: 5vh;
    width: 100%;
    background-color: #ffffff;
  }
  
  #map-projection-text {
    width: 30%;
    padding-left: max(120px, 2%);
    display: inline-block;
    padding-right: 2%;
    padding-top: 5vh;
    vertical-align: top;
  }
  
  #migration{
    display: none;
    /* padding-top: 5vh; */
    padding-left: 10%;
    padding-bottom: 5vh;
    width: 100%;
  }
  
  #infrastructure {
    display: none;
    /* padding-top: 5vh; */
    padding-left: 10%;
    padding-bottom: 5vh;
    width: 100%;
  }
  
  #source-code {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
  }
  