html {
  padding: none;
}

body {
  background: #b6c59b;
  /* color: white; */
  text-align: center;
  /* padding: 50px; */
  font: 14px "Gelica", Helvetica, Arial, sans-serif;
}

footer {
  margin: 10px;
}

h1 {
  color: #2c3387;
}

h2 {
  color: #2c3387;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #ff00ff;
}

#title {
  display: table; 
  width: 100%; 
  height: 100vh;
  overflow: hidden;
}

#title-text {
  display: table-cell; 
  vertical-align: middle;
}

select {
  /* background-color:rgb(76, 76, 76); */
  background-color: white;
  border-radius: 5px;
  color: black;
  border: none;
  /* border-radius: 25px; */
  padding: 5px;
  text-align: center;
  font-family: "Gelica", Helvetica, Arial, sans-serif;
}

input {
  background-color:rgb(76, 76, 76);
  border: none;
  /* border-radius: 25px; */
  padding: 6px;
  margin-left: 100px;
  margin-right: 10px;
}

.projection-input {
  /* background-color: rgb(158, 158, 158); */
  width: 30vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* border-radius: 25px; */
}

#map-projections {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  background-color: #aaadca;
}

#map-projection-text {
  width: 80%;
  padding-left: 10%;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: block
}