extends layout

block content
  h1 #{title}
  //- p 
  //-   | Welcome to #{title}, a series of multiscalar, 
  //-   | interactive maps engaging the US-Mexico border region.

  div(id='map-projections')
    h2 Map Projections
    div(id='projection1' class='projection-input')
    div(id='projection2' class='projection-input')
    canvas(id='global-projections-canvas')

  canvas(id='test_map')
  canvas(id='us_mexico')

