extends layout

block content
  h1 #{title}
  //- p 
  //-   | Welcome to #{title}, a series of multiscalar, 
  //-   | interactive maps engaging the US-Mexico border region.

  canvas(id='test_map')

  //- div(id='projection1')
  //- div(id='projection2')
  //- canvas(id='global_projections')
