extends layout

block content
  h1 #{title}
  h2 Fraying Borders, Weaving Connections
  p 
    | Welcome to #{title}, a series of multiscalar, 
    | interactive maps engaging the US-Mexico border region.
