doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.typekit.net/ymy8gms.css')
    script(type='module' src='/javascripts/test_map.js')
    script(type='module' src='/javascripts/global_projections.js')

  body
    block content
    canvas(id='test_map')

    //- div(id='projection1')
    //- div(id='projection2')
    //- canvas(id='global_projections')

  footer 
    a(href='https://github.com/dbaris/stitch-it-together') Source Code